header {
    margin: 0 12%;
}
div h1 span {
    color: #fb9129;
}
div h1 {
    font-family: "millik", Times, serif;
}
.payments_main {
    display: none;
}
.commerce_main {
    display: none;
}
div#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
div.logo {
    flex: 1;
}
div.navbar {
    flex: 3;
    align-items: center;
    align-content: center;
}
div.headerbutton {
    flex: 1;
    align-items: center;
}
ul.navlist {
    list-style-type: none;
}
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
    padding-inline: 3%;
    position: relative;
}
.dropdown_menu {
    position: relative;
    display: inline-block;
    height: 4vh;
}
.dropdown_menu:hover .payments_main {
    display: block;
    position: fixed;
    left: 25%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 5px #1f1f1f;
    border-radius: 5%;
    margin-top: 5px;
}
.dropdown_menu:hover .commerce_main {
    display: block;
    position: fixed;
    left: 35%;
    z-index: 1;
    background-color: white;
    background-color: white;
    box-shadow: 0 0 5px #1f1f1f;
    border-radius: 5%;
    margin-top: 5px;
}
a {
    text-decoration: none;
    color: black;
}
